
<% posts.each(function(post) { %>
    <li>
        <a href="#post/<%= post.id %>"><%= post.get("title") %></a>
        <% if(post.get("subbreddit")) { %>
            <%= post.get("subbreddit").get("name") %>
        <% } %>
    </li>
<% }) %>